<%- include('../includes/head.ejs') %>
  <link rel="stylesheet" href="/css/upload_statement.css">
<script src="/utils/toggle-all.js"></script>
</head>

<body>
  <%- include('../includes/navigation.ejs') %>
    
  <h2>Bank Details</h2>

  <%- include('../includes/new-statement.ejs') %>

  <% if (statement_files.length > 0) { %>
    <h2>Uploaded Bank Statements</h2>
    <div id="form-container">
      <form action="/delete-statement" method="POST">
        <table>
          <tr>
            <td><input type="checkbox" onChange="toggle(this)"/></td>
            <td><label for="select-all"><strong>Saved Bank Statements</strong></label></td>
          </tr>
          <% for (let statement_file of statement_files) { %>
            <tr>
              <td><input type="checkbox" id="statement_file" name="statement_file" value="<%= statement_file %>"/></td>
              <td><label><%= statement_file %></label></td>
            </tr>
          <% } %>
          <tr>
            <td></td>
            <td><button type="submit" name="action" value="delete-selected">Delete selected</button></td>
          </tr>
        </table>
      </form>
      
    </div>
  <% } %>  
  
<%- include('../includes/end.ejs') %>
